 /* app css stylesheet */
 .row-top-buffer {
     margin-top: 5px;
 }

 .input-label {
     padding-top: 10px;
 }

 .value-label {
     padding-top: 10px;
     font-weight: normal;
 }

 /* chart of accounts */
 .code-col {
     width: 190px;
 }

 .type-col {
     width: 249px;
 }